.minhaDiv{
    text-align: center;
    border-style:dashed;
    border-width: 1px;
}

.fundoAzul:hover{
    background-color: rgb(215, 235, 231);
    transition: 1.5;
}

.fundoCinza{
    background-color: rgb(219, 217, 217);
}

p{
    font-family:fantasy;
}

#tituloFoto{
    text-align: center;
    color: rgb(5, 0, 0);
}


ol{
    list-style-type: upper-alpha; 
}