.minhaDiv{
    text-align: center;
    border: 0.1px solid rgb(68, 64, 64);
}

#centroCor{
    text-align: center;
    color: rgb(5, 0, 0);
}

.fundoAzul:hover{
    background-color: rgb(215, 235, 231);
    transition: 1.5;
}

.fundoCinza{
    background-color: rgb(219, 217, 217);
}

